<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero List</title>
</head>

{% extends 'superhero_theme.html' %}
{% block content %}

<body>
    <ul>
        {% for hero in object_list %}
        <li>
            <h3>{{ hero.name }}</h2>
                <p><img src="{{ hero.image }}" alt="{{ hero.name}}" width="10%"></p>
                <p><a class="btn btn-light" href="{{ hero.pk }}">Details</a></p>
        </li>
        {% endfor %}
    </ul>

    <a href="/admin/" class="btn btn-primary m-5">Modify Database with Admin Views</a>
    <a href="/hero/add" class="btn btn-primary m-5">Add New Hero</a>
</body>

{% endblock content %}

</html>