{% extends 'account_theme.html' %}

{% block content %}
<div class="container bg-dark text-light m-3 p-3">

    <h1>List of Articles</h1>

    <table class="table table-hover table-bordered table-dark">
        <tr class="text-light btn-success">
            <th>Article</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        {% for chapter in object_list %}
        <tr>
            <td><a class="text-light" href="{{ chapter.pk }}">Article {{ chapter.order }} - {{ chapter.title }}</a></td>
            <td><a class="text-light" href="{{ chapter.pk }}/">Edit</a></td>
            <td><a class="text-light" href="{{ chapter.pk }}/delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>


    <p>
        <a href="/chapter/add" class="btn btn-success m-5">Add New Article</a>
    </p>

</div>



{% endblock content %}